.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


li ul {
  padding: 5px; /* Remove padding for nested lists */
  margin: 0; /* Remove margin for nested lists */
}

li:hover{
  background-color: #a9b5cd;
}

li {

  user-select: none; /*prevents double clicking from highlighting text*/

  max-width: 200px; /* Set maximum width */
  
  margin: 0 auto; /* Center the container horizontally */

  text-align: center; /* Align the content of list items to the left */
  list-style-position: inside; /* Position the bullet points inside the list items */

  list-style-type: none; /* Remove default bullet point */
  padding: 2px 10px; /* Add padding for spacing inside each list item */
  background-color: #cedcf7; /* Background color for outer list items */
  border: 1px solid black; /* Border style for outer list items */
  border-radius: 5px; /* Rounded border for outer list items */
  transition: background-color 0.3s; /* Smooth transition effect */
}

li li {
  list-style-type: none; /* Remove default bullet point */
  padding: 0px 0px; /* Add padding for spacing inside each inner list item */
  margin: 0px 0; /* Add margin for spacing between inner list items */
  background-color: rgb(163, 182, 252);
  transition: background-color 0.3s; /* Smooth transition effect */
}

.expandButton {
 display: flex;
  padding: 2px 4px; /* Adjust padding to change button size */
  border: none;
  border-radius: 30%; /* Make button round */
  background-color: rgb(192, 192, 192); /* Set button color to red */
  color: black; /* Set text color to white */
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  float: right; /* Position button to the right */
  transition: background-color 0.3s; /* Smooth transition effect */
}

.expandButton:hover {
  background-color: rgb(153, 153, 153); /* Change color on hover */
}

/* Style the checkbox container */
.starButton-container {
  display: flex;
  position: relative;
  padding-left: 10px; /* Adjust spacing between checkbox and label */
}

/* Style the checkbox */
.starButton-container input[type="checkbox"] {
  user-select: none; /*prevents double clicking from highlighting text*/

  position: absolute;
  left: -13.5px;
  top: -6px;
  appearance: none; /* Remove default appearance */
  width: 20px; /* Adjust checkbox size */
  height: 25px; /* Adjust checkbox size */
  background-color: transparent; /* Make background transparent */
  border: 1px solid black; /* Add border */
  border-radius: 5px; /* Add border radius */
  outline: none; /* Remove outline */
}

/* Style the checkbox when checked */
.starButton-container input[type="checkbox"]:checked {
  background-color: yellow; /* Set background color when checked */
}

.clearButton{
  margin-bottom: 10px;
  border-radius: 5px; /* Add rounded edges */
  background-color: lightcoral; /* Change the background color to light red */
  color: white; /* Set text color to white */
  padding: 5px 10px; /* Add padding to the button */
  border: none; /* Remove border */
  cursor: pointer; /* Change cursor to pointer on hover */
  transition: background-color 0.3s; /* Smooth transition effect */
}

.clearButton:hover{
  background-color: rgb(207, 108, 108);
}

